{% extends "base.html" %}

{% block title %}
Sermon Lists | Sermon
{% endblock title %}

{% block content %}
<div class="container mt-6">
  <div class="columns is-centered">
    <div class="column is-full">
      <h1 class="title is-3 has-text-centered">Sermons</h1>
    </div>
  </div>

  <div class="columns is-multiline">
    {% for sermon in sermons %}
    <div class="column is-one-third">
      <a href="{% url 'sermon-detail' sermon.slug %}" class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ sermon.thumbnail.url }}" alt="{{ sermon.title }}">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-5">{{ sermon.title }}</p>
              <p class="subtitle is-6 has-text-green">{{ sermon.author }}</p>
            </div>
          </div>
          <div class="content">
            {{ sermon.description|truncatewords:20 }}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
